<div class="planerPageWrapper position-relative" xmlns:width="http://www.w3.org/1999/xhtml">

  <div class="datePickerWrapper d-flex gap-1">
    <div class="zoomWrapper">
      <input type="range" min="1" max="2" step="0.2" [(ngModel)]="zoomValue">
    </div>
    <div class="dateFrom d-flex flex-column">
      <input type="date" [(ngModel)]="dataOd">
      {{dataOd}}
    </div>
    <div class="dateTo d-flex flex-column">
      <input type="date" [(ngModel)]="dataDo">
      {{dataDo}}
    </div>
    <button (click)="onDateChange()">filtr</button>
    <div class="removeBin"
         id="bin"
        [dndDropzone]="" (dndDrop)="removeJob($event)"
         (mouseover)="getOffset($event)"
         >kosz</div>
  </div>
  <!--  Date Planer-->
  <div class="planerWrapperSection"
       [dndDropzone]="" (dndDrop)="changePlanersJob(plan)"
       *ngFor="let plan of planersListSignal()">
    <div class="planerTitle">{{plan.planer_name}}</div>
    <div id="planer"
         class="planerWrapper d-flex position-relative">

      <div class="border">
        <div class="jobElement"
             id="test"
             [dndDraggable]="!job.job_lock"

             *ngFor="let job of getJobsForPlaner(plan.planer_name)"
             (dndStart)="changeStyle($event)"
           (dndEnd)="changeJobPosition(job, $event)"
             (mousemove)="getOffset($event)"
             (dragstart)="onDragStart(job)"
             (click)="onDragStart(job)"
             [class]="{
             'lockJob': job.job_lock,
             'sharingJob': job.is_set,
             'pickedJob': job.id === currentDragingJob?.id

             }"
             [style]="{'left': job.job_Position_X + 'px',
            'top': job.job_Position_Y + 'px',
             'transform': 'translate3d(0,-1px, 0)',
             'z-index': job.is_set ? '1' : '100',
              'width': (job.job_hours + job.hours_extended) * (10 * zoomValue) + 'px'}">
          <div class="jobChecker"  >
         {{job.job_lock}}
            {{job.job_Position_X}}

            {{job.is_set}}
          </div>


        </div>
      </div>


      <div class="dayWrapper"
           [ngStyle]="{'width': (240 * zoomValue) + 'px'}"
           *ngFor="let day of daysInRange; let i = index">
        {{day | date: 'dd-MM-yyyy'}}
        <div class="d-flex h-100">

          <div class="hours"
               [ngStyle]= "{'width': (10 * zoomValue) + 'px'}"
               *ngFor="let hour of hours"></div>
        </div>

      </div>
    </div>
  </div>


<!--zapisywanie nowej pracy-->
  <div class="createJobWrapper">
    <div class="currentElement" >
      <button class="pushLeft" (click)="pushObjectLeft(-10, currentDragingJob!)"><|</button>
<!--      <button class="pushLeft" (click)="moveLeft(-10)"><</button>-->

      <div class="element  "
            *ngIf="currentDragingJob"
           [style]="{ 'width': currentDragingJob!.job_hours! * 10 + 'px'}">
        {{currentDragingJob?.job_name}}
        {{currentDragingJob?.is_set}}
        <div class="changeElementMenu">
          <div class="changeHours">

            <button
              (click)="changeJobHoursUp( 1)"
            > /\</button>
            <div>{{currentDragingJob.job_hours}}</div>
            <button

              (click)="changeJobHoursDown( -1)"
            >\/</button>
          </div>
          <div class="lockJob">
            <input type="checkbox"
                   [(ngModel)]="currentDragingJob.job_lock">
          </div>
        </div>
      </div>
<!--     <button class="pushLeft" (click)="moveRight(10)">></button>-->
      <button class="pushLeft" (click)="pushObjectRight(10, currentDragingJob!)">|></button>
    </div>
    <div class="newJobsList" >
      <div class="newJobElement"
           *ngFor="let job of newJobsList"

           [style]="{'background-color': job.job_color}">
        {{job.job_name}}
      </div>
    </div>
    <div class="createJobForm">
      <div class="createJob">
        <div class="jobName">
          <input type="text"
                 placeholder="Nazwa"
                 [(ngModel)]="jobName">
        </div>
        <div class="jobDescription">
          <input type="text"
                 placeholder="Opis"
                 [(ngModel)]="jobDescription">
        </div>
        <div class="jobDescription">
          <select [(ngModel)]="jobPlaner">
            <option *ngFor="let planer of planersListSignal()" [value]="planer.planer_name">{{planer.planer_name}}</option>
          </select>
        </div>
        <label for="jobHours">Ilość godzin
          <div class="hoursNumber">
            <input type="number"
                   id="jobHours"
                   placeholder="Ilość godzin"
                   [(ngModel)]="jobHours">
          </div>
        </label>

        <div class="jobSubmit">
          <button (click)="createJob()">Dodaj</button>
        </div>
      </div>
    </div>

  </div>
</div>

{{mousePositionX}}
{{mousePositionY}}
{{currentDragingJob?.job_name}}
{{'scroll' + previousScroll + 'inny scroll' + scrolledDistance}}



