.planerWrapper {
  overflow: hidden;
  overflow-x: auto;
  height: 120px;
  max-width: 100%;
}
.dayWrapper {
  width: 240px;
  height: 120px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-right: brown solid 1px;

}
.hours {
  width: 10px;
  height: 100%;
  border-left: 1px solid black;
  box-sizing: border-box;
}
.hours:first-child {
  border-left: none;
}
.testowanieDrag{
  width: 80px;
  height: 85px;
  background-color: red;
  position: absolute;
  z-index: 100;
}
.planerWrapper::-webkit-scrollbar {
  width: 10px;
  background-color: aliceblue;
}

.planerWrapper::-webkit-scrollbar-thumb {
  background-color: #888;
}

.planerWrapper:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
