<div class="planerPageWrapper position-relative">
  <div class="datePickerWrapper d-flex gap-1">
    <div class="dateFrom d-flex flex-column">
      <input type="date" [(ngModel)]="dataOd">
      {{dataOd}}
    </div>
    <div class="dateTo d-flex flex-column">
      <input type="date" [(ngModel)]="dataDo">
      {{dataDo}}
    </div>
    <button (click)="onDateChange()">filtr</button>
  </div>
  <!--  Date Planer-->
  <div id="planer"
       class="planerWrapper d-flex position-relative">
    <div class="border">
      <div class="jobElement"
           id="test"
           [dndDraggable]=""
           *ngFor="let job of jobListFilter"
           (dndStart)="changeStyle($event)"
           (dndEnd)="changeJobPosition(job, $event)"
           (mousemove)="getOffset($event)"

           [style]="{'left': job.job_Position_X + 'px',
            'top': job.job_Position_Y + 'px',
             'transform': 'translate3d(0,-1px, 0)',
              'width': job.job_hours * 10 + 'px'}">
        x: {{job.job_Position_X}}
        y: {{job.job_Position_Y}}
        {{job.job_name}}
        {{job.job_date}}
        {{job.job_hours}}
        {{job.begin_time}}

      </div>
    </div>


    <div class="dayWrapper"
         *ngFor="let day of daysInRange; let i = index">
      {{day | date: 'dd-MM-yyyy'}}
      <div class="d-flex h-100">

        <div class="hours" *ngFor="let hour of hours"></div>
      </div>

    </div>
  </div>
  <div class="createJobWrapper">
    <div class="createJob">
      <div class="jobName">
        <input type="text"
               placeholder="Nazwa"
               [(ngModel)]="jobName">
      </div>
      <div class="jobDescription">
        <input type="text"
               placeholder="Opis"
               [(ngModel)]="jobDescription">
      </div>
      <label for="jobHours">Ilość godzin
      <div class="hoursNumber">
        <input type="number"
               id="jobHours"
               placeholder="Ilość godzin"
               [(ngModel)]="jobHours">
      </div>
        </label>
<!--      <div class="jobPositionX">-->
<!--        <input type="number" [(ngModel)]="jobPositionX">-->
<!--      </div>-->
<!--      <div class="jobPositionY">-->
<!--        <input type="number" [(ngModel)]="jobPositionY">-->
<!--      </div>-->
      <div class="jobSubmit">
        <button (click)="createJob()">Dodaj</button>
      </div>
    </div>
  </div>
</div>

{{mousePositionX}}
{{mousePositionY}}
{{jobListSignal() | json}}
{{newJobListPos | json}}




