.planerPageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planerWrapper {
 width: 100%;
  height: 100px;
}
.planerWrapperSection{
  width: 100%;
  height: 130px;
}
.dayWrapper {
  width: 240px;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-right: brown solid 1px;
  box-sizing: border-box;
}
.hours {
  width: 10px;
  height: 100%;
  border-left: 1px solid black;
  box-sizing: content-box;
}
.hours:first-child {
  border-left: none;
}
.jobElement{
  width: 80px;
  height: 80px;
  background-color: red;
  position: absolute;
  z-index: 100;
  transition: 0.3s ease-out;
  border: #555555 solid 1px;
  border-radius: 5px;
}
.planerWrapper::-webkit-scrollbar {
  width: 10px;
  background-color: aliceblue;
}
.planerWrapper::-webkit-scrollbar-thumb {
  background-color: #888;
}
.planerWrapper:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
.border {
position: absolute;
  width: 100%;
  height: 80px;
 top:20px;
}
.removeBin {
  width: 80px;
  height: 80px;
  background-color: green;
}
.planerTitle {
  width: 100%;
  height: 30px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 800;
  border-bottom: brown solid 1px;
  box-sizing: border-box;
}
.createJobWrapper {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*element ktory dragujemy*/
.currentElement {
  display: flex;
  align-items: center;
background-color: cornsilk;
height: 100px;
  padding: 0 10px;
  min-width: 50px;
}
.element {
  height: 80px;
  background-color: red;

  transition: 0.3s ease-out;
  border: #555555 solid 1px;
  border-radius: 5px;
}
.pushLeft {
font-size: 1.2rem;
  font-weight: 800;
  color: #555555;
  margin: 0 10px;
  border: #555555 solid 1px;
  padding: 2px 5px;
  background-color: gainsboro;
  box-shadow: #555555 1px 1px 2px 1px;
  cursor: pointer;
  border-radius: 3px;
}
.pushLeft:hover {
  background-color: #f3f3f3;
}
.pushLeft:active {
  box-shadow: #555555 1px 1px 1px 0;
}
.sharingJob {
  background-color: #65e1e1;
}
